<h1>View all Products</h1>

<ul>
<%= cart.each do |product| %>
    <li>
        <%= product %>
    </li>
<% end %>
</ul>

<%= form_tag ({controller: 'products', action: 'add', method: 'POST'}) do %>
    <input name = 'product'>
    <input type = 'submit' value = 'add to cart'>
<% end %>